@model TuLibrary.Models.Book

@{
    ViewBag.Title = Model.Name + "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name Details</h2>

<div class="container">
    <div class="row BookDetails">
        <div class="col-md-5" style="padding-top:2rem">
            <span class="BookInfo">
                @Html.DisplayNameFor(b => b.Name):
                @Html.DisplayFor(b => b.Name)
            </span>
            <br />
            <hr />
            <span class="BookInfo">
                Publisher:
                @Html.DisplayFor(b => b.publisher.Name)
            </span>
            <br />
            <hr />
            <span class="BookInfo">
                @Html.DisplayNameFor(b => b.language.Language)
                @Html.DisplayFor(b => b.language.Language)
            </span>
            <br />
            <hr />
            <span class="BookInfo">
                @Html.DisplayNameFor(b => b.type.Type_Name):
                @Html.DisplayFor(b => b.type.Type_Name)
            </span>

            <br/>
            <hr />
            @Html.ActionLink("Download File", actionName: "DownloadFile", controllerName: "Books", routeValues: new { filePath = Model.BookPath, getFileName = Model.Name, BookId = Model.Id }, htmlAttributes: new { @class = "btn btn-info" })

        </div>
        <div class="col-md-7">
            <img src="~/Images/Books/@Model.Picture" width="100%"/>
        </div>
    </div>
</div>

