@model TuLibrary.Models.Book_Type_LanguageViewModel

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="container">
    @foreach (var item in Model.Book_Type)
    {
        <section class="row">
            <div class="TypeHeader col-md-12 text-center">
                <h1>@item.Type_Name</h1>
            </div>
            <br />
            @foreach (var book in Model.book.Where(b => b.TypeId == item.Id))
            {
                <div class="bookCard">
                    <div class="bookPicture">
                        <img src="~/Images/Books/@book.Picture" alt="Book Picture" />
                    </div>
                    <div class="BookInfo">
                        <h4 class="bookTitle">@book.Name</h4>
                        <h5 class="DTText">@book.DownloadTimes</h5>
                        <a href="~/Books/Details/@book.Id">More Details</a>
                    </div>
                </div>
            }
        </section>
    }

</main>

@*@item.Name
    @item.publisher.Name
    @item.language.Language
    @item.type.Type_Name
    @Html.ActionLink("Download File", actionName:"DownloadFile",controllerName:"Books",routeValues: new{ filePath=item.BookPath, getFileName=item.Name,BookId=item.id },htmlAttributes: new {@class="text-danger" })*@



